[user]
	email = leonardodiber@gmail.com
	name = leonardodiber
[core]
  editor = code
[alias]
  ; c = !git add --all && git commit -m
  s = !git status -s
  l = !git log --pretty=format:'%C(blue)%h%C(red)%d %C(white)%s - %C(green)%cn, %C(cyan)%cr'
[push]
	autoSetupRemote = true
