#!/bin/bash
if [ -f /etc/os-release ]; then
	. /etc/os-release
	case $NAME in
	"Ubuntu")
		devices=$(xrandr | grep ' connected ' | awk '{ print$1 }')
		connected=0
		for device in $devices; do
			if [[ $device == "HDMI-1" ]]; then
				xrandr --output eDP-1 --off
				xrandr --output HDMI-1 --mode 2560x1440
				connected=1
				break
			fi
		done

		if [[ connected -eq 0 ]]; then
			xrandr --output eDP-1 --mode 1366x768
		fi
		;;

	"Arch Linux")
		export LC_CTYPE=pt_BR.UTF-8
		xrandr --output HDMI-0 --mode 2560x1440
		twmnd &
		exec /usr/bin/easyeffects --gapplication-service &
    udiskie &
		;;
	esac
fi

unset SSH_AGENT_PID
if [ "${gnupg_SSH_AUTH_SOCK_by:-0}" -ne $$ ]; then
  export SSH_AUTH_SOCK="$(gpgconf --list-dirs agent-ssh-socket)"
fi
export GPG_TTY=$(tty)
gpg-connect-agent updatestartuptty /bye >/dev/null

./bootstrap/generate_gitconfig.sh
setxkbmap -layout us -variant intl
nitrogen --restore
picom -f &
flameshot &
nm-applet &
