#!/bin/bash
if [ -f /etc/os-release ]; then
	. /etc/os-release
	case $NAME in
	"Ubuntu")
		devices=$(xrandr | grep ' connected ' | awk '{ print$1 }')
		connected=0
		for device in $devices; do
			if [[ $device == "HDMI-1" ]]; then
				xrandr --output eDP-1 --off
				xrandr --output HDMI-1 --mode 2560x1440
				connected=1
				break
			fi
		done

		if [[ connected -eq 0 ]]; then
			xrandr --output eDP-1 --mode 1366x768
		fi
		;;

	"Arch Linux")
		export LC_CTYPE=pt_BR.UTF-8
		xrandr --output HDMI-0 --mode 2560x1440
		twmnd &
		exec /usr/bin/easyeffects --gapplication-service &
		;;
	esac
fi

./bootstrap/generate_gitconfig.sh
setxkbmap -layout us -variant intl
nitrogen --restore
picom -f &
flameshot &
