#!/bin/bash
. $HOME/bootstrap/default_variables.sh

if [ -f /etc/os-release ]; then
	. /etc/os-release
	case $NAME in
	"Ubuntu")
		xrandr --output eDP-1 --off
		xrandr --output HDMI-1 --mode 1920x1080
		;;

	"Arch Linux")
		xrandr --output HDMI-0 --mode 1920x1080
		twmnd &
		exec /usr/bin/easyeffects --gapplication-service &
		;;
	esac
fi

.$HOME/bootstrap/generate_gitconfig.sh
setxkbmap -layout us -variant intl
nitrogen --restore
picom -f &
flameshot &
