layout {
  default_tab_template {
    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }
    children
    pane size=2 borderless=true {
        plugin location="zellij:status-bar"
    }
  }

  tab name="Explorer" split_direction="vertical" focus=true {
    pane name="Arquivos" size="90%" focus=true
    pane split_direction="horizontal" {
        pane command="cal" name="calendário"
    }
  }

  tab name="Kubernetes" split_direction="vertical" {
    pane name="Consulta" size="90%"
  }
}
